@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("../../public/assests/font/ClashDisplay/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../../public/assests/font/ClashDisplay/ClashDisplay-Bold.otf");
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("../../public/assests/font/ClashDisplay/ClashDisplay-Semibold.otf");
}

:root {

  --primary-bg: #151718;
  --secondary-bg: #1A1D1E;



  --bg-color-01: #FDF5FF;
  --bg-color-02: #FAE9FF;
  --bg-color-03: #340045;
  --bg-color-04: #2D003C;
  --bg-color-05: #e6ceef;
  --bg-color-06: #F8E3FF;
  --bg-color-07: #232728;
  --bg-color-08: #202324;
  --bg-color-09: #FCF3FF;
  --bg-color-10: #EADDF0;

  --primary-text: #FFFFFF;
  --secondary-text: #000;

  --text-color-01: #C9C8C8;
  --text-color-02: #441462;
  --text-color-03: #DE499A;
  --text-color-04: #313131;
  --text-color-05: #1E1E1F;

  --green-color-01: #1ECB4F;
  --green-color-02: #2AD200;

  --red-color-01: rgb(235, 0, 0);

  --highlight-bg-01: linear-gradient(90.23deg, #77009E 54.86%, #FF27A9 156.38%);




  --header-height-xs: 50px;
  --header-height-xl: 60px;
  --header-height-xxl: 65px;
  --header-height-xxxl: 85px;

  --sidebar-width-xl: 250px;

  --auth-container-width: 95%;

  --space-xl: 20px;
  --space-md: 15px;

  --radius-xl: 15px;
  --radius-md: 10px;

  --offset-top-xl: 25px;
  --offset-top-md: 20px;

}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-bg) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--primary-text);
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none !important;
}

/* common css - start */

.themeBtn {
  background: var(--highlight-bg-01);
  color: var(--primary-text);
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 35px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
}

.themeBtn:hover {
  opacity: 0.8;
}

.secondary-btn {
  background: var(--bg-color-07);
  color: var(--primary-text);
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 35px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
}

.secondary-btn:hover {
  opacity: 0.8;
}

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-thumb {
  background: #888;
}

.authLayoutContainer ::-webkit-scrollbar {
  width: 5px;
  height: 5px;

}

.authLayoutContainer ::-webkit-scrollbar-track {
  background: transparent !important;
}

.authLayoutContainer ::-webkit-scrollbar-thumb {
  background: var(--bg-color-07) !important;
  border-radius: 10px;
}


/* common css - end */


.realTimeJson svg {
  max-width: 370px;
}

.decentralJson svg {
  max-width: 350px;
}

.arbitrageJson svg {
  max-width: 370px;
}

.optimizeJson {
  position: absolute;
  z-index: 2;
  height: fit-content !important;
  left: 50%;
  transform: translateX(-50%) !important;
}

/* start of react select - 1 */

.react-select__one__indicator-separator {
  display: none;
}

.react-select__one__control {
  background: var(--bg-color-07) !important;
  border: none !important;
  border-radius: 10px !important;
  height: 50px !important;
}

.react-select__one__indicator {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.react-select__one__value-container {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  height: 100% !important;
}

.react-select__one__indicator svg {
  fill: var(--primary-text) !important;
}

.react-select__one__control--is-focused,
.react-select__one__control--menu-is-open {
  box-shadow: none !important;
}

.react-select__one__placeholder {
  color: var(--text-color-01) !important;
  font-size: 15px;
  font-weight: 500;
}

.react-select__one__input-container {
  color: var(--primary-text) !important;
  opacity: 0.6 !important;
}

.react-select__one__single-value {
  color: var(--primary-text) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.react-select__one__menu {
  background: var(--bg-color-07) !important;
}

.react-select__one__option {
  color: var(--primary-text) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  cursor: pointer !important;
}

.react-select__one__menu-notice {
  color: var(--primary-text) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.react-select__one__option--is-selected {
  background: var(--highlight-bg-01) !important;
  color: var(--primary-text) !important;
  font-weight: 500 !important;
  opacity: 1 !important;
}

.react-select__one__option--is-focused {
  background: var(--secondary-text) !important;
  color: var(--primary-text) !important;
  font-weight: 500 !important;
  opacity: 1 !important;
}

.react-select__one__option--is-selected.react-select__one__option--is-focused {
  background: var(--highlight-bg-01) !important;
  color: var(--primary-text) !important;
  font-weight: 500 !important;
  opacity: 1 !important;
}

/* end of react select - 1*/

.primaryInput {
  background: var(--bg-color-07);
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--primary-text);
  font-weight: 500;
  font-size: 15px;
}

.primaryInput::placeholder {
  color: var(--text-color-01);
  font-weight: 400;
}

.input-badge {
  background: var(--bg-color-07);

  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: var(--primary-text);
  font-weight: 500;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-badge input {
  color: var(--primary-text);
  font-weight: 500;
  font-size: 15px;
  display: flex;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.input-badge input::placeholder {
  color: var(--text-color-01);
  font-weight: 400;
}

.input-badge__symbol {
  width: fit-content;
}


/* start of table - 1 */


.custom-table__primary .rdt_Table {
  background-color: var(--bg-color-07);
}

.custom-table__primary .rdt_TableHeadRow {
  background: var(--bg-color-08);
  border-radius: 5px;
  border: none !important;
}

.custom-table__primary .rdt_Pagination {
  background-color: var(--bg-color-07);
  border-radius: 0px 0px 5px 5px;
  color: var(--primary-text) !important;
  border-color: var(--bg-color-08);
}

.custom-table__primary .rdt_Pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.custom-table__primary .rdt_Pagination button svg {
  fill: var(--primary-text) !important;
}

.custom-table__primary .rdt_TableRow {
  background-color: var(--bg-color-07);
  border: none !important;
}

.custom-table__primary .rdt_Table {
  border-radius: 5px 5px 0px 0px;
}

.custom-table__primary .rdt_TableCol {
  justify-content: flex-start;
  font-size: 15px;
}

/* .custom-table__primary .cyOdnA {
  color: black;
  font-weight: 500;
  font-size: 16px;
} */

.custom-table__primary .rdt_TableCell {
  justify-content: flex-start;
  color: white;
  font-weight: 500;
  font-size: 14px;
}

.dataTableComponent::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.dataTableComponent::-webkit-scrollbar-track {
  background: var(--bg-color-07) !important;
}

.dataTableComponent::-webkit-scrollbar-thumb {
  background: #3b3b3b !important;
  border-radius: 10px;
}

.custom-table__primary p {
  margin-bottom: 0px;
}

/* end of table - 1 */

.table-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.table-actions__btn {
  border: none;
  outline: none;
  background: transparent;
}

.table-actions__btn:hover {
  opacity: 0.8;
}

.w-175 {
  min-width: 175px !important;
}

.table-actions__btn:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.table-actions__icon {
  width: 22px;
  height: auto;
}

.table-status.approved {
  color: var(--green-color-02);
}

.pairsCombiners {
  display: flex;
  align-items: center;
}

.table-currencyPairs__one {
  min-width: 30px;
  width: 30px;
  max-width: 30px;
  min-height: 30px;
  height: 30px;
  max-height: 30px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

.table-currencyPairs__two {
  position: relative;
  left: -12px;
  min-width: 30px;
  width: 30px;
  max-width: 30px;
  min-height: 30px;
  height: 30px;
  max-height: 30px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

/* media */

@media(max-width:575px) {


  .themeBtn {
    font-size: 13px;
    padding: 7px 20px;
    border-radius: 20px;
  }

  .secondary-btn {
    font-size: 13px;
    padding: 7px 20px;
    border-radius: 20px;
  }

  .optimizeJson {
    top: 15px;
  }

  .optimizeJson svg {
    max-width: 100px;
  }
}

@media(min-width:576px) and (max-width:767px) {
  .container.custom-container {
    padding: 0px !important;
  }

  .decentralJson svg {
    max-width: 200px;
  }

  .arbitrageJson svg {
    max-width: 200px;
  }

  .optimizeJson {
    top: 15px;
  }

  .optimizeJson svg {
    max-width: 130px;
  }
}

@media(min-width:768px) and (max-width:991px) {
  .container.custom-container {
    padding: 0px !important;
  }

  .decentralJson svg {
    max-width: 250px;
  }

  .arbitrageJson svg {
    max-width: 250px;
  }


  .optimizeJson {
    top: 15px;
  }

  .optimizeJson svg {
    max-width: 170px;
  }
}

@media(min-width:992px) and (max-width:1199px) {
  .container.custom-container {
    padding: 0px !important;
  }

  .decentralJson svg {
    max-width: 250px;
  }

  .arbitrageJson svg {
    max-width: 250px;
  }

  .optimizeJson {
    top: 15px;
  }

  .optimizeJson svg {
    max-width: 200px;
  }
}

@media(min-width:1200px) and (max-width:1399px) {

  .container.custom-container {
    padding: 0px !important;
  }

  .themeBtn {
    font-size: 14px;
    padding: 8px 25px;
    border-radius: 30px;
  }

  .secondary-btn {
    font-size: 14px;
    padding: 8px 25px;
    border-radius: 30px;
  }

  .decentralJson svg {
    max-width: 250px;
  }

  .arbitrageJson svg {
    max-width: 250px;
  }

  .optimizeJson {
    top: 15px;
  }

  .optimizeJson svg {
    max-width: 200px;
  }
}

@media(min-width:1400px) and (max-width:1699px) {
  .container.custom-container {
    max-width: 1300px !important;
    padding: 0px !important;
  }

  .themeBtn {
    font-size: 15px;
    padding: 10px 35px;
    border-radius: 30px;
  }

  .secondary-btn {
    font-size: 15px;
    padding: 10px 35px;
    border-radius: 30px;
  }

  .decentralJson svg {
    max-width: 300px;
  }

  .arbitrageJson svg {
    max-width: 300px;
  }

  .optimizeJson {
    top: 15px;
  }

  .optimizeJson svg {
    max-width: 250px;
  }
}

@media(min-width:1700px) {
  .container.custom-container {
    max-width: 1650px !important;
    padding: 0px !important;
  }

  .themeBtn {
    font-size: 18px;
    padding: 15px 45px;
    border-radius: 35px;
  }

  .secondary-btn {
    font-size: 18px;
    padding: 15px 45px;
    border-radius: 35px;
  }

  .decentralJson svg {
    max-width: 300px;
  }

  .arbitrageJson svg {
    max-width: 300px;
  }

  .optimizeJson {
    top: 15px;
  }

  .optimizeJson svg {
    max-width: 250px;
  }
}